@font-face {font-family: 'Myriad Pro Regular'; src: url('../font/MavenPro-Regular.ttf');}
header{
	margin-top: -5px;
	background: #fff;
}
#nav{display: none; width: 100%; padding: 0px;   margin: 0; z-index: 1000; }
#mobile_menu_item{background: #fff; margin: 0px; width: 100%; height: auto; display: flex;  justify-content: flex-start;}
#mobile_menu_item .icon_menu{ flex: 0 0 29%;  text-align: center; padding: 24px 10px; border-right: 2px solid #F6F7FA;}
#mobile_menu_item .name_company{ flex: 0 0 65%;  text-align: center; margin: 0; padding: 10px;}
#mobile_menu_item .name_company #Tovar{margin-left: 3px;}

#div_mobile_menu{
	text-transform: uppercase;
        height: 100%;
        width: 100%;
       
        display: none;
        position: fixed;
        z-index: 1050;
        line-height: 50px;
        background: #fff;
        text-shadow:0 1px 1px black;
}

#div_mobile_menu ul{padding: 0; margin: 0; }
#div_mobile_menu ul li{ list-style:none; margin: 5px; display: inline; }
.top_mobile_menu{display: flex; justify-content: flex-start;  flex-wrap: wrap;}
.back_item{flex: 0 0 1%; }
#singup{flex: 1 1 20%;  }
#singup .singup{top: 40px;}
#basket{flex: 1 1 20%;  }

.center_mobile_menu{display: flex; justify-content: flex-start;  flex-wrap: wrap;}
#li_menu_hover_1 {flex: 0 1 auto; margin: 0; border-radius: 10px; padding: 10px 15px;}
#li_menu_hover_1:hover{transition: 2s, easy;
		background:  #343E5C;
		cursor: pointer;	}
.bottom_mobile_menu{display: flex; justify-content: flex-start;  flex-wrap: wrap;}
#li_menu_hover_2{color: #C2C7D7;
		font-family: "Myriad Pro Regular"; cursor: pointer; flex: 0 1 auto; margin: 0;}
#li_menu_hover_2:hover{color:#000;
			background: #fff;}
.menu_a{
	font-size: 16px;
	font-family: "Myriad Pro Regular", sans-serif;
    }
.menu_a:hover{
     color: #fff;
    }
.default {
        width:100%;
    }

.fixed {
        position:fixed;
        top:-5px; left:0;
        width:100%;
        padding:10px 0;
        z-index: 10;
        -moz-box-shadow: 5px 5px 20px #333;
        -webkit-box-shadow: 5px 5px 20px #333;
        box-shadow: 5px 5px 20px #333;
    }
.top-menu{height: 88px;
	width: 100%;
	background: #fff;
	border-bottom: 2px solid #F6F7FA;
}
.flex-item{display: flex;}
.icon_menu{
    flex: 0 1 10%;
    cursor: pointer;
	padding-top: 40px;
	text-align: center;
}
@media (min-width: 768px) and (max-width: 979px){.icon_menu{
	flex: 1 1 10%;
	}}
.list_menu{
	height: auto;
	display: flex;
	flex-direction: row;
	align-items: stretch;
	padding-top: 30px;
	//padding-bottom: -30px;
	justify-content: space-between;
	border-left: 2px solid #F6F7FA;
	//background: red;
}
@media (min-width: 768px) and (max-width: 979px) {.list_menu {
 	 justify-content: flex-start;
 	} }
.name_company{
	flex: 0 1 5%;
	margin: -20px 0 0 30px;
	font-size: 26px;
	color: #3A405B;
}
@media (min-width: 768px) and (max-width: 979px) {.name_company {
 	 flex: 0 1 2%;
 	 margin: -20px 0 0 15px
 	} }
//h1{margin: -15px 0 0 30px; }
#Gospodar{font-family: "Bauhaus 93"; }
#Tovar{font-family: "Segoe Script"; margin-left: 60px; }
.list{
	flex: 1 1 60%;
}
/*@media (max-width: 1023px) {.list {
 	 display: none;
 	} }*/
.list ul{
	display: flex;
	justify-content: flex-end;}
@media(min-width: 980px) and (max-width: 1199px) {.list ul{
	justify-content: flex-start;
	}}
@media (min-width: 768px) and (max-width: 979px){.list ul{
	justify-content: flex-start;
	}}
.list ul li {margin-left: 15px;
		padding: 10px 10px;
		border-radius: 10px;}
@media (max-width: 979px){.list ul li {margin-left: 10px;}}
.list ul li:hover{transition: 2s, easy;
		background:  #343E5C;
		cursor: pointer;	}
.list ul li a{
	font-size: 16px;
	font-family: "Myriad Pro Regular", sans-serif;}
@media (max-width: 979px){.list ul li a{font-size: 14px;}}
.list ul li a:hover{color: #fff;}

.right_menu_block{
	flex: 1 1 5%;
	text-align: right;
	padding-top: 10px;
	align-content: flex-end;	}
@media(min-width: 980px) and (max-width: 1199px) {.right_menu_block {
 	 flex: 1 1 35%;
 	 text-align: center;
 	justify-content: flex-start;
 	} }
@media (max-width: 979px){.right_menu_block{
	 flex: 1 1 35%;
 	 text-align: center;
 	justify-content: flex-start;
	}}
.basket{}
@media(min-width: 980px) and (max-width: 1199px) {.basket {
	text-align: left;
	margin-left: 15px;
	}}
@media (max-width: 979px){	.basket {
	text-align: left;
	margin-left: 15px;
	}}
/*@media (max-width: 480px){ .basket{
 	 display: none;
 	} }*/
.basket span, .right_menu_block span{font-family: "Myriad Pro Regular"; 
	font-size: 18px; 
	color: #1C1E23;}
#circle_basket{
		padding: 5px 10px;
		border-radius: 50%;
		background: #E3E8F0; 
		margin-left: 10px;

	}
.singup{
		position: absolute;
		margin-left: 50px;
		padding: 10px 20px;
		border-radius: 30px;
		margin-top: -35px;
		border: 2px solid #E3E8F0;
		cursor: pointer;}
@media(min-width: 980px) and (max-width: 1199px) {.singup{
	text-align: center;
	}}
@media (max-width: 979px){.singup{
	text-align: center;
	margin-left: 15px;
	}}
.singup:hover{transition: 2s, easy;
		background: #E3E8F0;}
.bottom_menu{
	background: #fff;}
.Links{
		display: flex;
		justify-content: space-between;}
@media (max-width: 767px) {.Links {
 	 display: none;
 	} }
.Links ul{display: flex;
	justify-content: flex-end;}
.Links ul li{margin-left: 15px;
			padding: 10px 10px;
			border-radius: 10px;}
.Links ul li:hover{transition: 2s, easy;
			background:  #343E5C;
			cursor: pointer;}
#links li, #search_list li  {
		padding-top: 15px;
		color: #C2C7D7;
		font-family: "Myriad Pro Regular"; 
		font-size: 16px; }
#links li:hover, #search_list li:hover{color:#000;
			background: #fff;}
#search_list li{
	border-right: 2px solid #F6F7FA;
		border-radius: 0;
		padding-right: 20px;
}
.container-1{
  		vertical-align: middle;
  		white-space: nowrap;
  		position: relative;
	}

	.container-1 input#search{
  		height: 31px;
  		border: none;
  		margin-left: 0;
  		font-size: 10pt;
  		float: left;
  		color: #63717f;
  		padding-left: 5px;
  		padding-right: 45px;
	}

	.container-1 input#search::-webkit-input-placeholder {
   		color: #65737e;
	}

	.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   		color: #65737e;  
	}

	.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   		color: #65737e;  
	}

	.container-1 input#search:-ms-input-placeholder {  
   		color: #65737e;  
	}
	.container-1 .icon{
 		position: absolute;
 		margin-left: -30px;
 		z-index: 1;
  		color: #4f5b66;
	}
@media (max-width: 1000px){.container-1 .icon{
 		margin-top: -10px;	}}
